{% extends "network/layout.html" %}
{%load static%}
{% block body %}
    {% block script %}
        <script type="text/javascript" src="{% static 'network/script.js' %}"></script>
    {% endblock %}
    <div class="container">
    <div class="card-body" id="profile_card">
        <h3 style="color: rgb(43, 115, 223); text-align: center;">{{profile}}</h3>
        <hr color="grey">
        
        <div style="display: flex; justify-content: space-between;">
            <p id="follow" class="card-text">Posts: {{post_count}}</p>
            <p id="follow"class="card-text">Following: {{following_count}}</p>
            <p id="follow"class="card-text">Followers: {{followers_count}}</p>
            
        </div>
    </div>
    {% if user != profile %}
        <form action="{% url 'profile' id=profile.id %}" method="post">
            {% csrf_token %}
            {% if button == "unfollow" %}
                <button id="button" class="btn btn-danger" type="submit" value="unfollow" name="button">Unfollow</button>
            {%else%}
                <button id="button" class="btn btn-success" type="submit" value="follow" name="button">Follow</button>
            {%endif%}
        </form>
    {% else %}
        <div class="post_div">
            <a href="{% url 'create_post' pk='profile' %}" ><p id="wht">What's on your mind, {{user.username}} ?</p></a>
        </div>
    {%endif%}
    {% for data in datas %}
        {% if data.content_img %}
            <div class="card" id="card{{data.id}}">
            <img id="img{{data.id}}" src="{{data.content_img.url}}" class="card-img-top" alt="...">
                <div class="card-body" >
                    <div style="display: flex; justify-content: space-between;">
                        
                        <h6><a href="">{{data.creater}}</a></h6>
                        {% if login_user == profile %}
                            <div>
                                <button class="edit" id="edit-{{data.id}}" onclick="edit('{{data.id}}')"><i class="fa fa-edit" style="color: white;"></i></button>
                                <button class="del" id="delete{{data.id}}" onclick="delete_post('{{data.id}}')"><i id="btn-i" class="fa fa-trash-o" ></i></button>
                            </div>
                        {% endif %}
                    </div>
                    <p class="card-text" id="content{{data.id}}">{{data.content}}</p>
                    <textarea class="form-control" rows="4" id="edit-area{{data.id}}" name="text-area" style="display:none;"></textarea>
                    <!-- <input type="file" id="edit-img{{data.id}}" name="upload" accept="image/*" style="display:none;"> -->
                    <button class="btn btn-success" id="edit-bttn{{data.id}}" type="submit" style="display:none;">Save</button>
                    <hr color="grey">
                    <div style="display: flex; justify-content: space-between;">
                        <p id="lik-{{data.id}}" >{{data.likes}}<div  id="heart" onclick="likeUnlike('{{data.id}}')" ></div></p>
                        <p >{{data.timestamp}}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card" id="card{{data.id}}">
            <div class="card-body" >
                <div style="display: flex; justify-content: space-between;">
                    <h6><a href="">{{data.creater}}</a></h6>
                    {% if login_user == profile %}
                        <div>
                        <button class="edit" id="edit-{{data.id}}" onclick="edit('{{data.id}}')"><i class="fa fa-edit" style="color: white;"></i></button>
                        <button class="del" id="delete{{data.id}}" onclick="delete_post('{{data.id}}')"><i class="fa fa-trash-o" style="color:red"></i></button>
                        </div>
                    {% endif %}
                </div>
                <p class="card-text" id="content{{data.id}}">{{data.content}}</p>
                <textarea class="form-control" rows="3" id="edit-area{{data.id}}" name="text-area" style="display:none;"></textarea>
                <button class="btn btn-success" id="edit-bttn{{data.id}}" type="submit" style="display:none;">Save</button>
                <hr color="grey">
                <div style="display: flex; justify-content: space-between;">
                    <p id="lik-{{data.id}}" >{{data.likes}}<div  id="heart" onclick="likeUnlike('{{data.id}}')" ></div></p>
                    <p >{{data.timestamp}}</p>
                </div>
            </div>
            </div>  
        {% endif %}
    {% endfor %}
    <div class="pagination" style="color:rgb(201, 201, 202);margin-bottom: 40px;">
        <span class="step-links">
            
            <div style="display: flex; justify-content: space-between;">
            <div id="page">
            <span class="current">
                Page {{ datas.number }} of {{ datas.paginator.num_pages }}
            </span>
            </div>
            {% if datas.has_previous %}
                <a style="margin-left: 3px; margin-right: 6px;" href="?page={{ datas.previous_page_number }}">Previous</a>
                <a href="?page=1">&laquo; First</a>
            {% endif %}
            {% if datas.has_next %}
                <a style="margin-left: 3px; margin-right: 6px;" href="?page={{ datas.next_page_number }}">Next</a>
                <a href="?page={{ datas.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
            </div>
        </span>
    </div>
</div>
{% endblock %}